body {
	min-width: 300px;
	overflow-x: hidden;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}
	
h1 {
	font-size: 16px;
	border-bottom: 1px solid #22407B;
	color: #22407B;
	padding-bottom: 5px;
}

h2 {
	font-size: 14px;
	color: #22407B;
}

label {
	display: block;
	float: left;
	padding-top: 5px;
	width: 70px;
}

form#address {

}

form#geodata {
	display: none;
	border-top: 1px solid #CCCCCC;
}

form#address input[type=text],
form#geodata input[type=text]{
	width: 224px;
}

form p {
	clear: both;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

#map {
	width: 300px;
	height: 300px;
}

#error {
	border-top: 1px solid #CCCCCC;
	padding-top: 10px;
}

#map,
#error {
	display: none;
	clear: both;
}

